body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*button[aria-label]:hover:after {
  content: attr(aria-label);
  position: absolute;
  font-size: .75rem;
  font-weight: 300;
  border-radius: 0.25rem;
  background-color: #111;
  padding: 0.5rem;
  color: #fff;
   transform: translate(-50%, -200%);
}*/

.dimmed:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(17, 17, 17, 0),rgba(17, 17, 17, 1) 99%);
  /*background: radial-gradient(rgba(0, 0, 0, 0.25), #111);*/
  opacity: 1;
}

.ph05 {
  padding-left: 0.0625rem;
  padding-right: 0.0625rem;
}

.pl05 {

}


.name input:disabled, textarea:disabled {
    color: #111;
}

.mtn6 {
  margin-top: -11rem;
}

.mtn1 {
  margin-top: -0.125rem;
}

.pl1px {
  padding-left: 1px;
}

.mh-100 {
  max-height: 100%;
}

.m2-100 {
  max-width: 100%;
}

.pen {
  pointer-events: none;
}

.break-all {
  word-break: break-all;
}

.h35 {
  height: 6rem;
}

.h05 {
  height: 0.25rem;
}

.mtn3 {
  margin-top: -2rem;
}

.mtn2 {
  margin-top: -1.25rem;
}

.mtn05 {
    margin-top: -0.25rem;
}

.mln05 {
    margin-left: -0.25rem;
}

.mln1 {
    margin-left: -0.25rem;
}

.mln2 {
    margin-left: -0.5rem;
}

.shadow-0{
   box-shadow: 0px 0px 2px 1px rgba( 0, 0, 0, 0.0625 );
}

.shadow-6 {
   box-shadow: 0px 0px 4px 1px rgba( 0, 0, 0, 0.125 );
}

.following{
  max-width: 38rem;
}




@media screen and (min-width:37em) {

  .mw75 {
    max-width:612px;
    min-width:612px;
  }
}


@media screen and (min-width:78em) {

.mw75 {
  max-width: 918px;
  min-width: 918px;
}


}


/*@media screen and (min-width:77em) {

.profile-card:nth-child(4n) {
  margin-right: 0;
}
}



@media screen and (max-width:75.5em) {

  .profile-card:nth-child(3n) {
    margin-right: 0;
  }
}*/


@media screen and (min-width:57em) {
/*  .following: {
    max-width: 62rem;
}*/

  .following-list {
      max-width: 57rem;
    /*min-width: 57rem;*/
  }
}

/*.following-list {
      max-width: 37rem;
    min-width: 37rem;
  }*/


@media screen and (min-width:32em) {

  .h45-ns {
    height: 12rem;
  }

  .w45-ns {
    width: 12rem;
  }

  .bg-transparent-ns {
    background-color: transparent;
  }

  .mtn4-ns {
    margin-top: -10rem;
  }
}

.mtn4 {
  margin-top: -4.5rem;
}

.mt35 {
  margin-top: 1.75rem;
}

.blurred { 
  -webkit-backdrop-filter: blur(0.5rem); 
  backdrop-filter: blur(0.5rem);
}


.offline {
  color: #AAA;
}

.connected {
  color: #28ca42;
}

.connecting {
  color: #ffbd2e;
}

.backdrop {
  position: fixed;
  /*display: none;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.editor  {
  z-index: 90;
}

.black-tint::after {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.25);
}

.h025 {
  height: 0.125rem;
  /*opacity: .9;*/
}

.bottom-025 {
  bottom: 0.25rem;
}

.pb025 {
  padding-bottom: 0.125rem;
}

:active,
:focus {
  outline: 0 !important;
}

.hover-bg-black-05:hover {
  background-color: rgba(0,0,0,0.025);
}

.hover-bg-bright-blue-05:hover {
  background-color: rgba(0,0,255,0.05);
}

.b--bright-blue {
  border-color: #0433ff;
}

.hover-bright-blue:hover {
  color: #0433ff;
}

.hover-b--moon-gray:hover {
  border-color: #CCC;
}

/*.shadow-0 {
  box-shadow: #EEE 0px 1px 2px 0px;
}

.shadow-0:hover {
    box-shadow: #DDD 0px 1px 3px 0px;
}*/

.search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #CCC;
}
.search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #CCC;
   opacity:  1;
}
.search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #CCC;
   opacity:  1;
}
.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #CCC;
}
.search::-ms-input-placeholder { /* Microsoft Edge */
   color:    #CCC;
}

.replyBox::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #CCC;
}
.replyBox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #CCC;
   opacity:  1;
}
.replyBox::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #CCC;
   opacity:  1;
}
.replyBox:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #CCC;
}
.replyBox::-ms-input-placeholder { /* Microsoft Edge */
   color:    #CCC;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #CCC;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #CCC;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #CCC;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #CCC;
}

input:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #AAA;
}
input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #AAA;
   opacity:  1;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #AAA;
   opacity:  1;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #AAA;
}
input:focus::-ms-input-placeholder { /* Microsoft Edge */
   color:    #AAA;
}

.flex-grow {
  flex-grow: 1;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.purple {
  color: #5856D6;
}

.bg-purple {
  background-color: #5856D6;
}

.b--purple {
  border-color: #5856D6;
}

@media screen and (min-width:37em) {
.mw-post-ns {
    max-width: 594px;
    min-width: 594px;
}
}


.post {
  max-width: 37rem;
  /*min-width: 37rem;*/
}

.block .pause {
  display: none;
}

.block:hover .pause {
  display: block;
}

.post button { outline: none; }



.content .block:first-child,
.content .block:first-child p,
.content .block:first-child h1 {
  padding-top: 0;
  margin-top: 0;
}

.content .block:last-child,
.content .block:last-child p,
.content .block:last-child h1 {
   padding-bottom: 0;
   margin-bottom: 0;
}

input {
  outline: none !important;
}

.minw2 {
  min-width: 2rem;
}

.minw4 {
  min-width: 8rem;
}

.minw5 {
  min-width: 16rem;
}

.red { color: #FF4136; }
.green { color: #2ECC40; }
.bright-blue {color: #0433ff;}
.bg-bright-blue {background-color: #0433ff;}

body {
  background-color: #F5F5F6;
}
.bg-near-white {
  background-color: #F5F5F6;
}
.star:active svg,
.republish:active svg,
.reply:active svg  {
  fill: #AAA;
  border: none !important;
}

.star:hover svg { fill: #FF0000; }
.star:focus svg { fill: #FF0000; }
.republish:hover svg { fill: #19A974 }
.republish:focus svg { fill: #19A974; }
.reply:hover svg { fill: #0433ff }
.reply:focus svg { fill: #0433ff; }
/*
.download { outline: none; }
.download:hover svg { fill: #0433ff !important; }
.download:focus svg { fill: #0433ff; }*/

.b--light-blue-gray {

}

.not-allowed {
  cursor: not-allowed;
}

.public-DraftEditorPlaceholder-root {
  color: #AAA;
}

.replying {
    z-index: 90;
}

.replying * {
    z-index: 999;
}


.editor * {
  z-index: 999;
}

.editor-enter {
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
}

.editor-enter-active {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(0.125rem);
  backdrop-filter: blur(0.125rem);
  transition: background-color 0.25s, backdrop-filter 0.25s;
}

.editor-leave {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(0.125rem);
  backdrop-filter: blur(0.125rem);
}

.editor-leave-active {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  transition: background-color 0.25s, backdrop-filter 0.25s;
}

svg { display: block; }

/* For draft-js */

figure {
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}
